[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
art = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
unittest2 = "*"
pylint = "*"

[requires]
python_version = "3.8"
